<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Наши товары &ndash; Каталог</title>
</head>
<body>
<div style="text-align: center;">
    <a th:href="@{/customer/products/favourites}">Избранные товары</a>
    <h1>Наши товары</h1>
    <form>
        <label>Фильтр: <input type="text" name="filter" th:value="${filter}">
            <button type="submit">Поиск</button>
        </label>
    </form>
</div>
<div style="margin-left: auto; margin-right: auto; width: 40%;">
    <ul>
        <li th:each="product : ${products}">
            <strong>
                <a th:text="${product.title}"
                   th:href="@{/customer/products/{productId}(productId=${product.id})}"></a>
            </strong>
            <p th:text="${product.details}"></p>
        </li>
    </ul>
</div>
</body>
</html>